# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
Cython==0.29.17
easydict==1.9
future
fvcore
imageio==2.8.0
matplotlib==3.2.1
numpy
pickleshare==0.7.5
Pillow
plotly==4.7.1
plyfile==0.7.2
point-cloud-utils==0.8.0
prefix-sum==0.0.0
protobuf==3.13.0
psutil==5.7.0
ptyprocess==0.6.0
pymeshlab==0.1.8
pypng==0.0.20
pypoisson==0.10
pytest==6.2.1
PyYAML==5.3.1
scikit-image==0.16.2
tensorboard==1.15.0
torch==1.6.0
torchvision==0.7.0
tqdm
trimesh==3.6.34
